body {
  position: relative;

  counter-reset: Serial;
}

.hidden--table {
  display: none;
}

.modal__container {
  background-color: #fff;
  width: 70%;
  padding: 3rem 1.5rem;
  /* border: 1px solid #000; */

  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%);
}

.modal__container > * {
  margin-top: 2rem;
}

.invoice__container tbody tr td:first-child::before {
  counter-increment: Serial;
  content: counter(Serial);
}

.navigateTo__container {
  text-align: right;
}
